<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EO.Base" publicKeyToken="e92353a6bf73fffc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.74.0" newVersion="18.2.74.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EO.WebEngine" publicKeyToken="e92353a6bf73fffc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.74.0" newVersion="18.2.74.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EO.WebBrowser" publicKeyToken="e92353a6bf73fffc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.74.0" newVersion="18.2.74.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>